<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light  bg-primary">
      <a class="navbar-brand text-white" href="#">
        <img src="assets/img/header.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <a class="navbar-brand text-white" href="#">
        Customer Management
      </a>
      <div class="collapse navbar-collapse box" style="padding-left:40px;" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link bg-light text-dark" href="#">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-dashboard></router-dashboard>
</div>