<div class="row m-1" style="width: 1100px;">
    <table class="table table-hover">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Orders</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of custommer">
                <th>
                    <img src="assets/img/female.png" style="width: 60px;" alt="">
                </th>
                <td class="text-primary">{{c.fullName}}</td>
                <td>{{c.address}}</td>
                <td class="text-primary">{{countOrderByIdCus(c.id)}} Orders</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>